.distanceLabel {
    max-width: 50%;
    font-size: 22px;
    color: #555;
}

.selected {
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}