.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 415px;
}

.right {
    display: flex;
    gap: 20px;
}

.right a {
    color: white;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.right a:hover {
    color: #a99aff;
}

.right a.active {
    font-weight: bold;
    text-decoration: none;
}
